<section class="container py-4">
  
  
    <h2 class=" fw-bold text-dark py-3">Nos paniers du moment</h2>
    <div class="row justify-content-center">
      <div class="card-group mt-3 p-5">
        <% @baskets.each do |basket|%>
        <div class="col-4 ">
          <%= link_to(basket_path(basket.id)) do %>
            
          <div class="card rounded shadow w-100 text-decoration-none" style="18rem;">
            <div class="bg-image" style="background-image: url('<%= rails_blob_url(basket.image_url) %>'); height: 18rem; max-width: auto; background-size: cover; background-position: center;">
            </div>
            <div class="card-body my-2 mx-3">
              <h4 class="card-title text-dark fw-bold"><%= basket.title %></h4>
              <small> <p class="card-text text-muted"><%= basket.description %></p></small> 
              <p class="text-center"> <%= basket.price %>€</p>
            
            <% if user_signed_in? %>
              <div class="add-buttons text-center">
                <%= link_to "Ajouter au panier", basket_selections_path(basket), class:"btn btn-warning",  method:"POST" %>
              </div>
            <% end %>
          <% end %>   
            </div>
          </div>
        </div>
        
        <% end %>
      </div>
    </div>
  
</section>    
