<div class="container align-items-center border border-dark rounded-3 shadow p-3 mb-5 mt-3 bg-body rounded">
  <div class="row">
    <div class="col-12 col-lg-8 align-self-center">
      <%= image_tag @baskets.image_url, alt: 'photo de panier', class: 'rounded mx-auto d-block  h-auto', style: "width: 600px;" %>  
    </div>
    <div class="col-12 col-lg-4 align-self-center">
      <h3 class="title text-center fw-bold display-6"> <%= @baskets.title %></h3>
        <p class="text-center"><%= @baskets.description %></p>
        <p class="price text-center fs-3"> <%= @baskets.price %> €</p>
        <% if user_signed_in? %>
          <div class="add-buttons text-center">
            <%= link_to "Ajouter au panier", basket_selections_path(@baskets), class:"btn btn-dark",  method:"POST" %>
          </div>
        <% end %>        
      <div class="available text-center mt-3">En stock</div>
      <div>
      <h5 class="text-center">Si vous le souhaitez, vous pouvez aussi prendre un abonnement hebdomadaire pour cette cagette ! </h5>
        <div class="accordion" id="order-options">
        <%= button_to "Procéder à l'abonnement", checkout_create_path(total: current_user.cart.total_cart, :id => current_user.cart.id, price: @baskets.stripe_price, engagement: "subscription"), class: "btn btn-primary btn-shadow d-block w-100 mt-4", remote: true %>
      </div>
      </div>
    </div>
  </div>
</div>