<header>
  <section class="jumbotron2" >
    <div class="container align-items-end pt-5">
    </div>
  </section>
</header>
<section class="container col-12 pb-5 " style="margin-top: -200px; margin-bottom: 300px;"> 
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <div class="card border-0 rounded-3 shadow text-start p-5">
        <div class="card-body ">
          <h6>Mon compte</h6>
          <ul class="nav flex-column pb-4">
            <li class="nav-item ">
              <%= link_to "Modifier mes informations personnelles", edit_user_registration_path, class:"nav-link text-muted px-0 fs-6", remote: true, method: :get %>
            </li>
            <li class="nav-item">
              <%= link_to "Modifier mon mot de passe", edit_user_registration_path(password: 'password'), class:"nav-link text-muted px-0 pb-2 fs-6", remote: true, method: :get %>
            </li>
          </ul>
          <h6>Mes commandes</h6>
          <ul class="nav flex-column pb-4">
            <li class="nav-item">
              <%= link_to "Mes commandes passées", user_path(@user), class:"nav-link text-muted px-0 fs-6", remote: true, method: :get %>
            </li>
            <li class="nav flex-column">
              <%= link_to "Gérer mes abonnements", customer_portal_sessions_path, class:"nav-link text-muted px-0 fs-6 pb-2", method: "POST" %>
            </li>
          </ul>
          <h6>Mes lieux de livraison</h6>
          <ul class="nav flex-column">
            <% if current_user.location_id != nil %>
              <li class="nav-item">
                <%= link_to "Mes lieux de livraison", location_path(current_user.location_id, go: 'go'), class:"nav-link text-muted px-0 fs-6", remote: true %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Choisir un lieu de livraison", locations_path, class:"nav-link text-muted fs-6 px-0"  %>
              </li>
            <% end %>
          </ul>
          <div>
            <%= link_to "Supprimer mon profil",  user_registration_path, class:"nav-link text-danger fs-6 px-0 pt-3", data: { confirm: "Êtes vous sûr ? Il ne sera pas possible de revenir en arrière" }, method: :delete %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-12" id="editpage">
      <%= render "edit" %>
    </div>
  </div> 
</section>