<section class="container p-3 my-5">
  
  <div class="container my-5">
    <h2 class="text-center py-3">Ajouter des produits supplémentaires ?</h2>
    <div class="row justify-content-center">
      <div class="card-group mt-5">
        <% @additional_products.each do |product|%>
        <div class="col mx-2">
          <div class="card rounded shadow" style="18rem;">
            
            <%= image_tag product.image_url, alt: 'photo de panier', class: 'card-img-top' %>
            <div class="card-body">
              <h4 class="card-title"><%= product.title %></h4>
              <p class="card-text"><%= product.description %></p>
              <p class="text-center"> <%= product.price %>€</p>
              <div class="add-buttons text-center">
              </div>
            </div>
            <div class="card-footer">
            <% if user_signed_in? %>
              <div class="add-buttons text-center">
                <%= link_to "Ajouter au panier", additional_product_selections_path(product), class:"btn btn-warning",  method:"POST" %>
              </div>
            <% end %>   
            </div>
          </div>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</section>   

<%=link_to 'Etape suivante', cart_path(current_user_cart), class:'btn btn-dark rounded'%>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>