
<div class="card p-3 border-0">
  <div class="card-body">
    <h4>Historique des commandes</h4>
  </div>
    <% @orders.each do |order| %> 

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">

        <div class="card m-3 bg-white text-dark" style="width: 18rem;">
            <div class="card-header">
              Commande n°<%= order.id%>
            </div>
          <div class="card-body text-center">
            
                            
            <% order.selections.each do |selection| %>
            <p>1 photo de <%= selection.item.title %> - <%= selection.item.price %> €
            
            <%= link_to "Accéder à la page de la photo", item_path(selection.item.id), class:"btn btn-warning btn-sm" %></p>
            
            <% end %>
            
                        
          </div>
          <div class="card-footer">
            Prix total : <%= order.total_order %> €
          </div>
        </div>
      </div>
    </div>
    
  <% end %>
</div>