
<div class="card p-3 border-0">
  <div class="card-body">
    <h4>Historique des commandes</h4>
  </div>
    <% @orders.each do |order| %> 

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">

        <div class="card m-3 bg-white text-dark" style="width: 18rem;">
            <div class="card-header">
              Commande n°<%= order.id%>
            </div>
          <div class="card-body text-center">
            
                            
            <% order.selections.each do |selection| %>
            <% if selection.basket_id == nil %>
              <p>1 <%= selection.additional_product.title %> - <%= selection.additional_product.price %> €</p>
            <% elsif selection.additional_product_id == nil %>
              <p>1 <%= selection.basket.title %> - <%= selection.basket.price %> €</p>
              <%= link_to "Accéder à la page de la cagette", basket_path(selection.basket.id), class:"btn btn-primary btn-sm" %></p>
            <% end %>
            
            <% end %>
            
                        
          </div>
          <div class="card-footer">
            Prix total : <%= order.total_order %> €
          </div>
        </div>
      </div>
    </div>
    
  <% end %>
</div>