<%= render 'orders/jumbotron' %> 
  
<%= render 'additional_products/index_card' %>

<div class="row">
  
  <% if current_user.location_id == nil%>
    <div class="mx-5 col-3"><%=link_to 'Etape suivante', locations_path, class:'btn btn-dark rounded', remote: true %>
    </div>
    
    <% else %>
    <div class="mx-5 col-3"><%=link_to 'Etape suivante', location_path(current_user.location_id), class:'btn btn-dark rounded', remote: true %>
    </div>
  <% end %>
  
    
    <div class="col-6"><%=link_to 'Voir le panier', cart_path(current_user_cart), class:'btn btn-dark rounded', remote: true %>
    </div>
  </div>
