<section class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class=" ">
          <div class="card shadow-lg p-4 border-0">
            <div class="card-body text-center">
              <h4 class="text-primary">Ma cagette</h4>
            </div>
              <% if @cart.selections.length > 0 %>
                <ul class="list-group list-group-flush"> 
                  <% @cart.selections.each do |selection|%>
                    <% if selection.additional_product_id == nil  %>                
                      <li class="list-group-item" id="<%= selection.id%>">
                        <div class="d-flex align-items-center justify-content-between">
                          <a href="#!" class="text-decoration-none">
                            <div class="d-lg-flex align-items-center">
                              <div class="ml-lg-3 mt-2">
                                <h4 class="mb-O text-secondary"><%= selection.basket.title %></h4>
                                <p class="mb-0 text-muted"><%=selection.basket.description%></p>
                                <%= link_to "Fiche de la cagette", basket_path(selection.basket.id), class:"btn btn-warning" %>
                                <div class="fs-lg text-accent pt-2"><%= selection.basket.price %> €
                                </div>
                              </div>
                            </div>
                          </a>
                          <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start"     style="max-width: 9rem;">
                          <%= link_to "Supprimer", [selection.basket, selection], method: "delete", class:"btn btn-link px-0 text-danger", remote: true %>
                          </div>
                        </div>
                      </li>
                    <% elsif selection.basket_id == nil %> 
                      <li class="list-group-item" id="<%= selection.id%>">
                        <div class="d-flex align-items-center justify-content-between">
                          <a href="#!" class="text-decoration-none">
                            <div class="d-lg-flex align-items-center">
                              <div class="ml-lg-3 mt-2">
                                <h4 class="mb-O text-secondary"><%= selection.additional_product.title %></h4>
                                <p class="mb-0 text-muted"><%=selection.additional_product.description%></p>
                                <%= link_to "Fiche du panier", additional_product_path(selection.additional_product.id), class:"btn btn-warning" %>
                                <div class="fs-lg text-accent pt-2"><%= selection.additional_product.price %> €</div>
                              </div>
                            </div>
                          </a>
                          <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start"     style="max-width: 9rem;">
                          <%= link_to "Supprimer", [selection.additional_product, selection], method: "delete", class:"btn btn-link px-0 text-danger", remote: true %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              <% else %>
                <div class="flex center">
                  <p class="text-center">Votre cagette est vide pour le moment.</p>
                  <img src="https://media.giphy.com/media/TjS7u7yoMC2KubI5wE/giphy.gif" class="rounded mx-auto d-block" alt="this slowpoke moves"  width="250" />
                </div>
              <% end %>
          </div>    
        </div>
      </div>
      
    </div>
    <div class="container row" >
      <div class="col-6"><%=link_to 'Retour', additional_products_path, class:'btn btn-dark rounded', remote: true %>
      </div>

      <div class="col-6"><%=link_to 'Retour au choix du panier', new_order_path, class:'btn btn-dark rounded', remote: true %>
      </div>
    </div>
  </section>