<body class="min-vh-100 d-flex flex-column justify-content-between">
  <section class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card shadow-lg p-4 border-0">
          <div class="card-body text-center">
            <% if @basket_array.length == 1 %>
              <h4 class="text-primary">Cagette</h4>
            <% else %>
              <h4 class="text-primary">Cagettes</h4>
            <% end %>
            <% if @cart.selections.length > 0 %>
              <% @basket_array.each do |selection| %>
                <li class="list-group-item" id="<%= selection.id%>">
                  <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4">
                      <%= image_tag selection.basket.image_url, alt: 'photo de panier', class: 'rounded mx-auto d-block  h-auto', style: "width: 200px;" %>
                    </div>
                    <div class="col ml-lg-3 mt-2">
                      <h4 class="mb-O text-secondary text-center"><%= selection.basket.title %></h4>
                      <p class="mb-0 text-muted text-center"><%=selection.basket.description%></p>
                      <div class="fs-lg text-accent pt-2 d-flex justify-content-center"><%= selection.basket.price %> €
                      </div>
                        <%= link_to "Fiche de la cagette", basket_path(selection.basket.id), class:"btn btn-warning m-2 d-flex justify-content-center" %>
                    </div>
                    <div class=" col-2 pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                      <%= link_to "Supprimer", [selection.basket, selection], method: "delete", class:"btn btn-link px-0 text-danger", remote: true %>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <h4 class="text-primary">Produits supplémentaires</h4>
            <% if @cart.selections.length > 0 %>
              <% @additional_product_array.each do |selection| %>
                <div class="card" id="<%= selection.id%>">
                  <div class="row d-flex card-body justify-content-evenly">
                  <div class="col-4">
                    <%= image_tag selection.additional_product.image_url, alt: 'photo de panier', class: 'rounded mx-auto d-block  h-auto', style: "width: 100px;" %>
                  </div>
                    <div class="col-5">
                      <h4 class="card-title"><%= selection.additional_product.title %></h4>
                      <p class="card-text"><%=selection.additional_product.description%></p>
                      <h6 class="card-subtitle mb-2 text-muted"><%= selection.additional_product.price %> €</h6>
                      <%= link_to "Fiche du produit", additional_product_path(selection.additional_product.id), class:"btn btn-warning m-2 d-flex justify-content-center" %>
                      <%= link_to "Supprimer", [selection.additional_product, selection], method: "delete", class:"btn btn-link px-0 text-danger", remote: true %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% else %>
              <div class="flex center">
                <p class="text-center">Vous n'avez pas encore choisi votre cagette</p>
                <img src="https://media.giphy.com/media/TjS7u7yoMC2KubI5wE/giphy.gif" class="rounded mx-auto d-block" alt="this slowpoke moves"  width="250" />
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 align-self-center">
        <div class="bg-white rounded-3 shadow-lg p-4">
          <div class="py-2 px-xl-2">
            <div class="text-center mb-4 pb-3 border-bottom">
              <h2 class="h6 mb-3 pb-1">Total</h2>
              <h3 class="fw-normal"><%= @cart.total_cart %> €</h3>
            </div>
            <div class="accordion" id="order-options">
              <%= button_to "Procéder au paiement", checkout_create_path(total: @cart.total_cart, :id => @cart.id), class: "btn btn-primary btn-shadow d-block w-100 mt-4", remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# <div class="col-6"><%=link_to 'Retour', new_order_path, class:'btn btn-dark rounded', remote: true %>
  </section>
</body>