<section>
  <div class="col-12 min-vh-100 text-center bg-light d-flex flex-column justify-content-center bg-image" style="background-image: url('https://images.pexels.com/photos/5709299/pexels-photo-5709299.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); background-repeat: none; background-size: cover;">
    <div class="align-self-center p-5 bg-image rounded-3" style="background-image: url('https://images.unsplash.com/photo-1616410731303-6affae095a0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=645&q=80');">
      <%= image_tag("Logo_cagette_3.png", :alt => "logo_cagette_du_net", :class => "pb-3") %>
      <h2 class="fw-bold fs-3">Connectez-vous</h2>
      <div class="form-group" style="width: 300px">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-text py-2">
            <% f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm", placeholder:"Entrez email" %>
          </div>
          <div class="form-text pb-2">
            <% f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-sm", placeholder:"Entrez mot de passe" %>
          </div>
          <div class="actions my-1">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
            <%= f.submit "Se connecter", class:"btn btn-dark text-capitalize w-100" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</section>