<section>
  <div class="row">
    <div class="col-12">
      <div class="min-vh-100 text-center bg-light d-flex flex-column justify-content-center">
        <div class="align-self-center p-5 card">
        <%= image_tag ("app/assets/images/Rectangle_10.png"), class:"card-img" %>
          <div>
            <h2 class="fw-bold fs-3">Connectez-vous</h2>
            <p>Vous n'avez pas encore de compte ?</p>
            <p><a>Créer un compte</a></p>
          </div>

            <div class="form-group">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-text pb-2">
                  <% f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm", placeholder:"Entrez email" %>
                </div>

                <div class="form-text pb-2">
                  <% f.label :password %>
                  <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-sm", placeholder:"Entrez mot de passe" %>
                </div>

                <div class="actions">
                  <%= f.submit "Se connecter", class:"btn btn-dark text-capitalize w-100" %>
                </div>
              <% end %>
            </div>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>