<body class="min-vh-100 d-flex flex-column justify-content-between">
  <header>
    <section class="jumbotron2 ">
      <div class="container align-items-end pt-5">
        <div class="row">
          <div class="col-12 align-self-center">
            <h1 class="text-dark display-4 fw-bold">Trouvez un lieu de livraison près de chez vous</h1>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main >
    <section class="container py-5">        
      <% @locations.each do |location| %>
        <div class="card-group">
          <div class="row justify-content-center align-items-center m-3 w-100">
            <div class="card p-0 shadow-3 shadow rounded border-0 h-auto" style="max-width: 1000px;">
              <div class="row g-0 ">
                <div class="col-md-4 col-lg-4 bg-image" style="background-image: url('https://media.gettyimages.com/photos/lesbian-couple-groceries-shopping-picture-id1012106882?s=2048x2048'); height: 200px; max-width: auto; background-size: cover; background-position: center;">
              </div>
              <div class="d-flex col-md-8 col-lg-8 px-3 align-self-center ">
                <div class="card-body my-3 pb-0 ">
                  <h5 class="card-title fs-4 fw-bold text-dark "><%= location.name %></h5>
                  <p class="card-text "><%= location.address_number %> <%= location.address_street %> , <%= location.zip_code %>, Paris</p>
                  <% if location.validated == true %>
                  <div class="card-footer p-0">
                    <div class="row justify-content-between align-items-center ">
                      <p class="col-8 pt-3 text-muted d-inline"><small> Partenaire officiel des Cagettes du net </small></p>
                      <%= link_to "Voir le lieu", location_path(location.id), class:"btn btn-dark d-inline col-4"%>
                    </div>                           
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>            
      </div>
      <% end %>      
    </section>
    <div class="container border-strong text-center bg-light mb-5 py-3">
    <h4>Pas convaincu ?</h4>
      <p>
      Si vous êtes arrivés jusqu'ici, c'est peut-être parce que vous n'avez pas trouvé votre bonheur, et nous en sommes navrés...</p> 
      <p>Mais pas de panique ! Si vous le souhaitez, vous pouvez aussi nous proposer de nouveaux lieux de livraisons, au plus près de chez vous. Prenez 2 minutes pour lire les éléments ci-dessous, et lancez vous ! </p>
      <h5>Comment ça se passe ?</h5>
      <ul class="text-start">
        <li class="mb-2">Dans un premier temps, il vous faudra cliquer sur le bouton juste en dessous, qui vous redirigera vers un formulaire à remplir (avec soin).</li> 
        <li class="mb-2">Nous vous y demanderons quelques informations pratiques sur le lieu que vous souhaitez nous proposer (son nom, son adresse, etc.) pour que nous puissions vérifier qu'il corresponde à nos critères techniques et pratiques (s'il est tout au bout d'une rue piétonne, notre camion réfrigéré aura surement du mal à l'atteindre!).</li>
        <li class="mb-2">Nous prendrons ensuite contact avec les responsables pour nous présenter et leur proposer un éventuel partenariat.</li>
        <li class="mb-2">S'ils sont intéressés, nous proposerons ensuite ce nouveau lieu sur notre site pour que les membres de la communauté des Cagettes (on s'est dit que ça sonnait mieux que "Cagettois et Cagettoises", non?) puissent s'y inscrire aussi.</li>
          <ul>
            <li>En effet, pour des raisons pratiques, il nous serait compliqué de mettre un place un nouveau point de livraison pour une ou deux personnes seulement, notamment pour optimiser les trajets en camion de nos livreurs.</li>
            <li>En moyenne, nous avons entre 5 et 10 personnes par lieu de livraison</li>
          </ul>
        <li class="mb-2">Une fois que suffisamment de personnes seront inscrites, vous recevrez un email vous informant de la validation du lieu. Et peut-être que quelques petites surprises vous attendent... Mais on ne vous en dit pas plus pour le moment!</li>
      </ul>
      <p>Alors, qu'est-ce que vous attendez pour vous lancer ? N'hésitez surtout pas à parler de nous autour de vous, à vos amis, vos collègues, vos voisins! Les Cagettes, c'est aussi une formidable raison de tisser des liens autour de vous :)</p>
      <%= link_to "Proposer un lieu", new_location_path, class:"btn btn-primary" %>
    </div>
        
  </main>
</body>
