<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container d-flex justify-content-between">
          <ul class="navbar-nav align-items-center ">
            <li>
              <%=link_to image_tag("Logo_cagette_3.png", :alt => "logo_cagette_du_net", :height => "65", :class => "d-inline-block align-text-top mx-5"), root_path %>              
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/">Accueil</a>
            </li>
           
          </ul>
          <%if user_signed_in? %>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown align-items-center">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mon profil
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li> <%=link_to 'Mes informations personnelles', user_path(current_user.id), class:'dropdown-item'%></li>
                <li><%=link_to 'Mes commandes', root_path, class:'dropdown-item'%></li>
                <li><%=link_to 'Mes lieux de livraison', root_path, class:'dropdown-item'%></li>
                <li class="nav-link active"><%=link_to 'Se déconnecter', destroy_user_session_path, class:'dropdown-item bg-danger', method: :delete%></li>
              </ul>
            </li>
            <li class="nav_item">
              <%=link_to 'Mon panier', cart_path(current_user_cart), class:'btn btn-dark rounded'%>
            </li>
          <% else %>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item mx-2"> <%=link_to 'Se connecter', new_user_session_path, class:'nav-link active'%></li>
            <li class="nav-item mx-2"> <%=link_to 'Créer un profil', new_user_registration_path, class:'nav-link active'%></li>
          <% end  %>
          </ul>
          </div>
        </div>
      </nav>
</header>